@import '../../scss/base/variant.scss';

.global_kg_style{
   .kg_style{
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h1{
          font-family: $variant-fonts2;
          font-weight: 400;
          font-size: 36px;
          line-height: 43.2px;
      }

      & button{
          width: 210px;
          border-radius: 8px;
          height: 50px;
          padding: 10px;
          border: none;
      }
   }

   .description_style{
       width: 843px;
       display: flex;
       flex-direction: column;
       margin-top: 16px;

       & h3{
          font-family: $variant-fonts;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
       }

       & p{
          font-family: $variant-fonts;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
       }
   }
}