@import '../../../scss/base/variant.scss';

hr{
   background-color: #A6A6A6;
}

.navbar_style{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: $variant-fonts;

   .contact_block{
     display: flex;
     align-items: center;
     gap: 36px;

     .contact_mini_style{
       display: flex;
       align-items: center;
       gap: 4px;
     }
   }

   .social_block{
      display: flex;
      gap: 16px;

      & img {
         width: 24px;
         height: 24px;
      }
   }
}